.dropdown{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑 Light";
    position: relative;
    top: 25px;
    left: 20%;
    width: 200px;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.Dropdownu-btn{
    position:relative;
    width: 200px;
    height: 60px;
    font-size: 24px;
    background: #2196F3;
    border: none;
    box-shadow: none;
    outline:none;
    cursor: pointer;
    color: #FFF;
}
.Dropdownul{
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    background: #CCC;
    transform-origin: top;
    -webkit-transform: perspective(1000px) rotateX(-90deg);
    -moz-transform: perspective(1000px) rotateX(-90deg);
    -ms-transform: perspective(1000px) rotateX(-90deg);
    -o-transform: perspective(1000px) rotateX(-90deg);
    transform: perspective(1000px) rotateX(-90deg);
    transition: 0.5s;
}
.Dropdownul.active{
    -webkit-transform: perspective(1000px) rotate(0deg);
    -moz-transform: perspective(1000px) rotate(0deg);
    -ms-transform: perspective(1000px) rotate(0deg);
    -o-transform: perspective(1000px) rotate(0deg);
    transform: perspective(1000px) rotate(0deg);
}
.Dropdownul li{
    list-style: none;
}
.Dropdownul li a{
    display:block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    background: #262626;
    color: #FFF;
    border-bottom: 1px solid rgba(0,0,0,.2);
}
.Dropdownul li a:hover{
    background-color: #0d7ad0;
}
